body {
    font-family: Spectral, serif;
    color: #333;
    margin: 0;
    padding: 0;
}
h1 {
    color: #2c3e50;
    margin-top: 20 px;
}
h2 {
    color: #636363;
    font-size: 20 px;
}
p {
    font-size: 15 px;
}
img {
    display: block;
    margin: 20 px auto;
    width: 200 px;
    border-radius: 10 px;
}
a {
    display: block;
    margin-top: 15 px;
    text-decoration: none;
    color: #333;
}
a:hover {
    color: #72aba0;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 50 px;
}
